<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inchidere_Proces.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Inchidere_Proces.Properties.Settings>
            <setting name="oraSchimbul1" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="oraSchimbul2" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="oraSchimbul3" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="minutSchimbul123" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="minutSchimbul2" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="minutSchimbul3" serializeAs="String">
                <value>55</value>
            </setting>
        </Inchidere_Proces.Properties.Settings>
    </userSettings>
</configuration>